{
	log {
		format console
	}
}

http://{$HOST} {
	redir https://{host}{uri}
}

https://{$HOST} {
	# Forwards all traffic to your backend app

	reverse_proxy localhost:{$PORT}

	# Enables automatic internal HTTPS

	tls internal
}
