providers = ['node']

[variables]
    NIXPACKS_NODE_VERSION = '22.21'
    NPM_CONFIG_PRODUCTION = 'false' # Ensures devDependencies are installed for the build phase

[phases.setup]
    nixPkgs = ['nodejs_24', 'npm', 'openssl']
    aptPkgs = ['build-essential']

[phases.install]
    cmds = ['npm ci']

[phases.build]
    cmds = ['npm run build']

[start]
    cmd = 'npm start'